body {
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    text-align: center;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

#page-title {
    margin-bottom: 6vh;
    text-shadow: 5px 5px 10px purple;

}

.spende-card {
    border: 1px solid purple;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0px 0px 10px 0px rgb(139, 74, 139);
    min-width: none;
    max-width: 50vw;
    margin: 0 auto;
    margin-bottom: 18px;
}

.category {
    margin-top: 48px;
}

.spende-card-img {
    max-width: 25%;
}

.white-background {
    background-color: white;
}



@media only screen and (max-width: 680px) {
    .spende-card {
        min-width: fit-content;
        max-width: none;
    }

    .spende-card-img {
        max-width: 50%;
    }
}